@import "media.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
  overscroll-behavior: contain;
}

.appContainer {
  display: flex;
  background-color: var(--appBackgroundColor);
  width: 100%;
  height: 100%;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0px auto;
}
