.box {
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--boxBackgroundColor);
}

.snake {
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--snakeColor);
}

.food {
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--foodColor);
}
