@keyframes t2b {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@keyframes b2t {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes l2r {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes r2l {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* -------------------------- */
.tail_t2b {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to bottom,
    var(--boxBackgroundColor) 50%,
    var(--snakeColor) 50%
  );

  background-size: 100% 200%;

  animation: t2b var(--tick) var(--animprops);
  border-radius: 10%;
}

.head_t2b {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to bottom,
    var(--snakeColor) 50%,
    var(--boxBackgroundColor) 50%
  );

  background-size: 100% 200%;

  animation: t2b var(--tick) var(--animprops);
  border-radius: 10%;
}

/* -------------------------- */

.tail_b2t {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to top,
    var(--boxBackgroundColor) 50%,
    var(--snakeColor) 50%
  );

  background-size: 100% 200%;

  animation: b2t var(--tick) var(--animprops);
  border-radius: 10%;
}

.head_b2t {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to top,
    var(--snakeColor) 50%,
    var(--boxBackgroundColor) 50%
  );

  background-size: 100% 200%;

  animation: b2t var(--tick) var(--animprops);
  border-radius: 10%;
}

/* -------------------------- */

.tail_l2r {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to right,
    var(--boxBackgroundColor) 50%,
    var(--snakeColor) 50%
  );

  background-size: 200%;

  animation: l2r var(--tick) var(--animprops);
  border-radius: 10%;
}

.head_l2r {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to right,
    var(--snakeColor) 50%,
    var(--boxBackgroundColor) 50%
  );

  background-size: 200%;

  animation: l2r var(--tick) var(--animprops);
  border-radius: 10%;
}

/* -------------------------- */

.tail_r2l {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to left,
    var(--boxBackgroundColor) 50%,
    var(--snakeColor) 50%
  );

  background-size: 200%;

  animation: r2l var(--tick) var(--animprops);
  border-radius: 10%;
}

.head_r2l {
  width: var(--boxSize);
  height: var(--boxSize);

  background-image: linear-gradient(
    to left,
    var(--snakeColor) 50%,
    var(--boxBackgroundColor) 50%
  );

  background-size: 200%;

  animation: r2l var(--tick) var(--animprops);
  border-radius: 10%;
}

.box {
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--boxBackgroundColor);
  border-radius: 10%;
}

.snake,
.head_none,
.tail_none {
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--snakeColor);
  border-radius: 10%;
}

.wrongBody {
  width: var(--boxSize);
  height: var(--boxSize);
  background-image: linear-gradient(45deg, var(--snakeColor), #fce72f, #d11717);
  background-size: 500%;
  background-position: bottom left;
  border-radius: 10%;
  animation: r2l forwards linear 0.5s;
}

@keyframes byteAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.byte {
  opacity: 0;
  width: var(--boxSize);
  height: var(--boxSize);
  background-color: var(--byteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  animation: byteAnimation linear forwards 0.5s;
}

.byte0 {
  animation-delay: 0.1s;
}
.byte1 {
  animation-delay: 0.2s;
}
.byte2 {
  animation-delay: 0.3s;
}
.byte3 {
  animation-delay: 0.4s;
}
.byte4 {
  animation-delay: 0.5s;
}

.hintedByte {
  width: var(--boxSize);
  height: var(--boxSize);
  background-image: linear-gradient(
    45deg,
    var(--byteColor),
    #4d42b8,
    #4b69a0,
    #3baaa5,
    #4ba35e,
    #6aaa40,
    var(--scoreColor)
  );
  background-size: 500%;
  background-position: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  animation: r2l infinite alternate ease-in-out 3s;
}

.wrongByte {
  width: var(--boxSize);
  height: var(--boxSize);
  background-image: linear-gradient(45deg, var(--byteColor), #fce72f, #d11717);
  background-size: 500%;
  background-position: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  animation: r2l forwards ease-in 1s;
}

.correctByte {
  width: var(--boxSize);
  height: var(--boxSize);
  background-image: linear-gradient(45deg, var(--byteColor), var(--snakeColor));
  background-size: 500%;
  background-position: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  animation: r2l forwards linear 0.5s;
}
/* @keyframes byte2head {
  0% {
    width: var(--boxSize);
    height: var(--boxSize);
  }
  100% {
    width: calc(var(--boxSize) + 10%);
    height: calc(var(--boxSize) + 10%);
  }
} */
