.basicBox {
  width: var(--graphBoxSize);
  height: var(--graphBoxSize);
  border-radius: 10%;
  color: var(--darkFont);
  font-family: var(--fontFamily);
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  opacity: 0;
}

.podium {
  background-image: linear-gradient(
    to right,
    var(--snakeColor) 50%,
    var(--statsOverlay) 50%
  );

  background-size: 200%;

  animation: l2r 0.5s var(--animprops);
}

@keyframes showData {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.score {
  background-color: var(--scoreColor);
  animation: showData 1s var(--animprops);
  opacity: 0;
  font-size: 90%;
}

.country {
  background-color: var(--darkFont);
  animation: showData 1s var(--animprops);
  opacity: 0;
  font-size: 120%;
}
