@keyframes In {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(70px);
    opacity: 0;
  }
}

.instructionsOverlayIn {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--appBackgroundColor);
  z-index: 200;
  left: 0;
  top: 0;

  animation: In 0.3s linear forwards;
}

.closed {
  display: none;
}

.instructionsOverlayOut {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--appBackgroundColor);
  z-index: 200;
  left: 0;
  top: 0;

  animation: Out 0.3s linear forwards;
}

.modalContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h3,
p {
  font-family: var(--fontFamily);
  color: var(--fontColor);
  margin: 10px;
}
