@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}

.instructionsOverlayIn {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--modalBackgroundColor);
  z-index: 200;
  left: 0;
  top: 0;

  animation: slideIn 0.3s linear forwards;
}

.closed {
  display: none;
}

.instructionsOverlayOut {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--modalBackgroundColor);
  z-index: 200;
  left: 0;
  top: 0;

  animation: slideOut 0.3s linear forwards;
}

.modalContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.close {
  border-radius: 15%;
  background-color: var(--snakeColor);
  border: none;
  font-family: var(--fontFamily);
  color: var(--fontColor);
  font-size: 20px;
  margin: 5px 10px 5px 5px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--snakeColor);
}

h3,
p {
  font-family: var(--fontFamily);
  color: var(--fontColor);
  margin: 10px;
}
