:root {
  --gridSize: 14;

  --boxSize: 45px;
  --debugBoxSize: 100px;
  --gap: 2px;

  --tick: 0.5s;
  --animprops: linear forwards;
  --header-height: 50px;

  --fontFamily: "Rubik", sans-serif;
  --fontSize: 25px;

  --darkBackground: rgb(21, 9, 22);
  --lightBackground: rgb(255, 255, 255);

  --darkModalOverlay: 21, 9, 22;
  --lightModalOverlay: 255, 255, 255;

  --darkFont: #eaf1ed;
  --lightFont: #212221;

  --darkBox: rgb(36, 35, 44);
  --lightBox: rgb(222, 212, 226);

  --snakeColor: rgb(201, 100, 184);
  --byteColor: rgb(112, 55, 187);
  --scoreColor: rgb(55, 187, 99);
  --debugBoxBackgroundColor: white;
  --boxBackgroundColor: var(--darkBox);
  --modalOverlayColor: 21, 9, 22;
  --fontColor: var(--darkFont);
  --appBackgroundColor: var(--darkBackground);
}

@media screen and (max-width: 350px) {
  :root {
    --boxSize: 23px;
    --gridSize: 12;
  }
}

@media screen and (min-width: 350px) and (max-width: 389px) {
  :root {
    --boxSize: 24px;
    --gridSize: 13;
  }
}

@media screen and (min-width: 390px) and (max-width: 450px) {
  :root {
    --boxSize: 27px;
    --gridSize: 13;
  }
}

@media screen and (min-width: 450px) and (max-width: 770px) {
  :root {
    --gridSize: 15;
    --boxSize: 35px;
  }
}

@media screen and (min-width: 770px) and (max-width: 2200px) {
  :root {
    --gridSize: 16;
    --boxSize: 45px;
  }
}
