:root {
  --gridSize: 15;
  --boxBackgroundColor: rgb(44, 44, 44);
  --appBackgroundColor: rgb(29, 29, 29);
  --snakeColor: rgb(38, 148, 44);
  --foodColor: rgb(38, 148, 44);
  --boxSize: 45px;
  --debugBoxSize: 100px;
  --debugBoxBackgroundColor: rgb(65, 73, 71);
  --tick: 0.5s;
  --animprops: linear forwards;
  --header-height: 50px;
  --fontColor: rgb(234, 241, 237);
}

@media screen and (max-width: 450px) {
  :root {
    --boxSize: 25px;
  }
}

@media screen and (min-width: 450px) and (max-width: 770px) {
  :root {
    --boxSize: 30px;
  }
}

/* @media screen and (min-width: 1400px) {
  :root {
    --gridSize: 20;
  }
} */
