@keyframes In {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.modalOverlayIn {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(201, 100, 184, 0.5);
  z-index: 200;
  left: 0;
  top: 0;

  animation: In 0.3s linear forwards;
}

.closed {
  display: none;
}

.modalContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.floatingContainerWindow {
  height: 75%;
  width: 90%;
  max-width: 500px;
  background-color: var(--appBackgroundColor);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.floatingContainerFullScreen {
  height: 100%;
  width: 100%;
  background-color: var(--appBackgroundColor);
  position: fixed;
  top: 0;
  left: 0;
}
