.statsContainer {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin: 0;
}

.overlayContainer {
  min-height: fit-content;
  max-height: 100%;
  width: 80%;
  border-radius: 5px;
  background-color: var(--statsOverlay);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.worldContainer,
.personalContainer {
  width: 100%;
  height: calc((100% - 60px - var(--header-height)) / 2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.footerContainer {
  width: calc(100% - 10px);
  max-height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 5px;
}

.statsIcon {
  width: 50px;
  height: 50px;
}

.iconLabel {
  color: var(--darkFont);
  font-family: var(--fontFamily);
  margin: 5px;
  width: fit-content;
  height: fit-content;
}

.iconContainer {
  width: max-content;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
