.tileContainer {
  display: flex;
}

@keyframes tileAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tile {
  width: calc(1.5 * var(--boxSize));
  height: calc(1.5 * var(--boxSize));
  border-radius: 15%;
  margin: calc(var(--gap) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkFont);
  font-family: var(--fontFamily);
  font-size: calc((1.5 * var(--boxSize)) - 10px);
  animation: tileAnimation linear forwards 0.5s;
}

.letter {
  background: var(--byteColor);
}

.number {
  background: var(--scoreColor);
}
