.tile {
  width: 70px;
  height: 70px;
  border-radius: 15%;
  background: var(--foodColor);
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 50px;
}
