.wordTilesContainer {
  width: calc(var(--gridSize) * var(--boxSize) + var(--gridSize) * var(--gap));
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}
